/* setting that only shows the vertical menu based on large sized windows */
@media only screen and (min-width: 1080px){
    .topnav {
        display: none;
    }
    .hide-mobile{
        display: block;
    }
}

/* setting that only shows the horizontal menu based on small sized windows */
@media only screen and (max-width: 1080px){
    .topnav {
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}

/* -------------------------------------------------------------------------------------------- */

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 2.3vw 2.9vw;
    text-decoration: none;
    font-size: 2.5vw;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    background: #009b3b;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #009b3b;
    color: white;
}

/* -------------------------------------------------------------------------------------------- */


.button-analog {
  display: inline-block;
  padding: 8px 20px;
  font-size: 3vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #009b3b;
  border: none;
  border-radius: 14px;
  box-shadow: 0 4px #999;
}

.button-analog:hover {background-color: #3e8e41}

.button-analog:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* -------------------------------------------------------------------------------------------- */

.polaroid a {
    background: #ffffff;
    display: inline-block;
    margin: 5vw 3vw 10vw;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .3); 
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    -webkit-transition: all .10s linear;
    -moz-transition: all .10s linear;
    transition: all .10s linear;
    z-index: 0;
    position: relative;
  }
  
  .polaroid a:after {
    color: #333;
    font-size: 3vw;
    content: attr(title);
    position: relative;
    top: 10px;
  }

  .polaroid img {
    display: block;
    width: auto;
  }
  
  .polaroid a:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);
    z-index: 10;
  }


/* --------------------------------- GENERAL SETTINGS  --------------------------- */

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#background-for-text {
    position:absolute;
    width: 87vw;
    left: 5vw;
    background: rgb(243, 243, 243);
    height: 98vh;
    top: 2vw;
    z-index: -1;
}

.gallery {
            display: flex;
            margin: auto;
            width: auto;
            justify-content:space-evenly;
            flex-wrap:nowrap;
}


/* ----------------------------------- SPECIFIC PARTS -------------------------------------- */

#bottom-text {
    text-align: center;
    bottom: 1vh;
    font-size: 1.5vw;
}

#gradient-bar {
    height: 1vw;
    background-image: linear-gradient(to right, rgb(75, 212, 253) , #3e8e41);
}

#page-title {
    text-align: center;
    padding: 2vw 0vw;
    font-size: 6vw;
    font-family: 'Courier New', monospace;
    color: rgb(70, 69, 69)
}




