/* setting that only shows the vertical menu based on large sized windows */
@media only screen and (max-width: 1080px){
    .topnav {
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}

/* setting that only shows the horizontal menu based on small sized windows */
@media only screen and (min-width: 1080px){
    .topnav {
        display: none;
    }
    .hide-mobile{
        display: block;
    }
}

/* -------------------------------------------------------------------------------------------- */

/* settings for unordered list, in this case this is the horizontal menu with dropdown */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* settings for list items */
li {
    float: left;
    font-size: 2.5vh;
}

/* settings for interacting with list items and the dropbutton */
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 0.4vw 2.5vw;
    text-decoration: none;
}

/* color of a list item for when the cursor hovers above the list item */
li a:hover, .dropdown:hover .dropbtn{
    background-color: #ddd;
    color: black;
}

/* dropdown menu list item */
li.dropdown {
    display: inline-block;
}

/* active class for list item */
li a.active {
    background-color: #009b3b; 
    color: white;
}

/* general settings for dropdown menu items */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* settings for dropdown menu items */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* settings for hovering over dropdown menu item with the cursor */
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

/* class that communicates the visibility of the menu and the dropdown menu and its items */
.dropdown:hover .dropdown-content {
    display: block;
}

/* -------------------------------------------------------------------------------------------- */

.polaroid a {
    background: #f3fcf6;
    display: inline-block;
    margin: 5vw 3vw 10vw;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3); 
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    -webkit-transition: all .10s linear;
    -moz-transition: all .10s linear;
    transition: all .10s linear;
    z-index: 0;
    position: relative;
}

.polaroid a:after {
    color: #333;
    font-size: 3vw;
    content: attr(title);
    position: relative;
    top: 10px;
}

.polaroid img {
    display: block;
    width: 30vw;
}

.polaroid a:hover {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);
    z-index: 10;
    background-color: #f3fcf6;
}


/* --------------------------------- FONT SETTINGS  --------------------------- */

/* latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* -------------------------------------------------------------------------------------------- */


body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gallery {
    display: flex;
    margin: auto;
    width: auto;
    justify-content:space-around;
    flex-wrap: wrap;
}


